* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-stretch: 150%;
    color: black;
}

body {
    background-color: #F4F4F4;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E0E0E0;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #808080;
    min-width: 910px;
}

.menuGauche {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 8px 22px 8px 24px;
    color: #A0A0A0;
    transition: background-color 1s, color 1s;
    text-transform: uppercase;
}

li:first-child {
    border: none;
}

.menuDroite {
    display: flex;
}

a {
    text-decoration: none;
}

ul>a {
    border-left: 2px solid #E0E0E0;
}

ul>a:first-child {
    border: none;
}

li:hover {
    background-color: #E0E0E0;
    color: #606060;
}

#titre {
    border-right: 2px solid #E0E0E0;
    padding: 20px 25px;
}

#titre>b {
    color: #606060;
}

#loupe {
    border-left: 2px solid #E0E0E0;
    padding: 20px 25px;
}

#burger {
    border-left: 2px solid #E0E0E0;
    padding: 20px 25px;
}

i {
    color: #A0A0A0;
}

section {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.content {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.colonneGauche {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.colonneGauche>p {
    text-transform: uppercase;

}

h1 {
    font-size: x-large;
    text-transform: uppercase;
    margin-top: 25px;
    font-weight: bold;
}

h2 {
    font-size: 1em;
    text-transform: uppercase;
    color: black;
    margin-bottom: 5px;
}

h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #A0A0A0;
    margin: 30px 0;
    font-weight: normal;
}

h4 {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #606060;
    margin-bottom: 5px;
}

h5 {
    font-size: 0.6em;
    text-transform: uppercase;
    color: #A0A0A0;
    font-weight: normal;
}

.listeCartes {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E0E0E0;
    padding-top: 10px;
}

.carte {
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    margin-top: 25px;
    width: 300px;
}

.carte>div {
    margin: 15px;
}

.listeIcones {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E0E0E0;
    margin-top: 40px;
    padding-top: 20px;
}

div.icone {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0;
}

div.icone:last-child {
    border: none;
}

img.icone {
    width: 50px;
    margin-right: 20px;
}

.about {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    margin: 20px 0;
    padding: 40px 0;
}

.about>h2 {
    color: #606060;
}

.about>p {
    text-align: justify;
    margin: 30px 0;
    color: #A0A0A0;
}

button {
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #606060;
    background-color: #F4F4F4;
    border: 1px solid #E0E0E0;
    cursor: pointer;
}

button:hover {
    background-color: #E0E0E0;
}

button:disabled {
    color: #E0E0E0;
    cursor: default;
}

button:disabled:hover {
    background-color: #F4F4F4;
}

.iconesContact>i {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 5px;
    font-size: 1.2em;
}

.iconesContact>i:hover {
    background-color: #E0E0E0;
}

.colonneDroite {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    width: 750px;
}

.titreArticle {
    grid-column: 1/3;
    grid-row: 1;
    padding: 30px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titreArticle>p {
    margin-top: 10px;
    color: #A0A0A0;
}

.infosArticle {
    grid-column: 3/4;
    grid-row: 1;
    border-left: 1px solid #E0E0E0;
    padding: 30px;
    text-align: right;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infosArticle>p {
    margin-top: 10px;
    color: #A0A0A0;
}

p.auteur {
    font-size: 0.8em;
}

.contenuArticle {
    grid-column: 1/4;
    grid-row: 2;
    border-top: 1px solid #E0E0E0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.contenuArticle>p {
    text-align: justify;
    color: #606060;
}

.footerArticle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerArticle>button {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
}

.footerArticle>ul>li {
    text-transform: uppercase;
    color: #A0A0A0;
    cursor: pointer;
    border-left: 1px solid #E0E0E0;
    padding: 5px 15px;
    font-size: 0.8em;
}

.footerArticle>ul>li:first-child {
    border-left: none;
}

.footerArticle>button:hover {
    background-color: #F4F4F4;
}

.pagesNavigation {
    display: flex;
    gap: 20px;
}